# **Limpeza para análise e treino de modelo -  Base Lending Club**

## **Aluno:** Rafhael de Oliveira Martins

### **Ferramentas Utilizadas**
* Google Colab
* Google Drive

### **Base de Dados**
* 2Gb

# 1 - Entendimento do Negócio
## Contexto
Você foi procurado por um cliente que precisa dos seus serviços como Cientista de Dados. Ele possui algum dinheiro para investir e achou uma boa ideia alocar parte do dinheiro disponível em crowd funding e, para isso, optou por realizar aportes em pedidos de financiamento no site Lending Club.

Esse site, Lending Club, funciona como um portal onde pessoas que precisam de empréstimos realizam um extenso cadastro indicando, entre outras coisas, o quanto precisa, quanto gostaria de pagar de juros e em quantas vezes pretende pagar. Feito esse cadastro o pedido de empréstimo fica visível para os investidores que podem aportar dinheiro no pedido de empréstimo, recebendo parte dos juros pagos pelo tomador do empréstimo como lucros.


## Objetivo
Sabendo que trata-se de um modelo de classificação binária e que podem ser aplicados diversos modelos estatísticos para geração desse tipo de análise, faça a limpeza dos dados.
* Você deve determinar quais campos serão utilizados para o modelo e quais outros campos devem ser descartados (as discussões levantadas em sala de aula podem ser levadas em consideração para determinar quais dados serão mantidos ou descartados);
* Os campos devem ser convertidos em inteiro ou número real;
* Podem ser gerados dummies ao seu próprio critério;
* Podem ser gerados tokens ao seu próprio critério;
* Campos do tipo “object” devem ser evitados a todo custo;
* O resultado da limpeza deve ser salvo no formato pikle.

# 2 - Entendimento dos Dados
## 2.1 - Carregando a base de dados

Por estar em ambiente de nuvem e os arquivos serem grandes em espaço de armazenamento para upload, optei por utilizar a leitura da base de dados através do Google Drive com a biblioteca from google.colab import drive com o parâmetro drive.mount('/content/drive') em que este monta uma conexão com o Google Drive da conta a ser escolhida e fornece acesso aos arquivos desta conta que foi fornecida autorização.

* Documentação: [Google Drive para Google Colab](https://colab.research.google.com/notebooks/io.ipynb)
* Procurar por: Google Drive -> Montar Google Drive localmente.

In [1]:
# Abrindo conexão com o Google Drive.

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Importando Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

#Apresentas os dados no notebook.
%matplotlib inline 

# Tamanho da imagem.
plt.rcParams['figure.figsize'] = (12,8)

# Parametros do Pandas, limitando a quantidade máxima e a largura das colunas.
pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)

### 2.1.1 - Lendo o dicionário de dados

In [ ]:
# Lendo o dicionário de dados.
dicionario = pd.read_csv('/content/drive/MyDrive/ArquivosPA/limpeza_analise_modelo_Lending_Club/Cópia de LCDataDictionary_Traduzido.csv', sep=';')

In [ ]:
# Informacoes do dicionario.
dicionario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LoanStatNew  151 non-null    object
 1   Descrição    151 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [ ]:
# Primeiros dados do dicionario.
dicionario.head()

,LoanStatNew,Descrição
0,acc_now_delinq,O número de contas em que o devedor está inadimplente.
1,acc_open_past_24mths,Número de transações abertas nos últimos 24 meses.
2,addr_state,O estado fornecido pelo mutuário no pedido de empréstimo
3,all_util,Saldo para limite de crédito em todas as negociações
4,annual_inc,A renda anual auto-relatada fornecida pelo mutuário durante o registro.

In [ ]:
# Ultimos dados do dicionario.
dicionario.tail()

,LoanStatNew,Descrição
146,settlement_status,"O status do plano de liquidação do mutuário. Os valores possíveis são: COMPLETE, ACTIVE, BROKEN, CANCELED, DENIED, DRAFT"
147,settlement_date,A data em que o mutuário concorda com o plano de liquidação
148,settlement_amount,O valor do empréstimo que o mutuário concordou em liquidar
149,settlement_percentage,O valor da liquidação como uma porcentagem do valor do saldo de reembolso do empréstimo
150,settlement_term,O número de meses que o mutuário estará no plano de liquidação

### 2.1.2 - Lendo o dataset da Lending Club

In [ ]:
# Lendo os dados da Leading Club.
dados = pd.read_csv('/content/drive/MyDrive/ArquivosPA/limpeza_analise_modelo_Lending_Club/Cópia de Loan_status_2007-2020Q3.csv', engine='c')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,48,58,117,127,128,129,132,133,134,137) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# Informacoes dos dados.
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Columns: 142 entries, Unnamed: 0 to debt_settlement_flag
dtypes: float64(106), int64(1), object(35)
memory usage: 3.1+ GB

In [ ]:
# Proporção dos dados em linhas e colunas
dados.shape

(2925493, 142)

In [ ]:
# Primeiros dados.
dados.head()

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,...,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,0,1077501,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077501,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,735.0,739.0,1.0,NaN,NaN,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.00,0.0,0.00,Jan-2015,171.62,NaN,May-2020,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,1,1077430,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077430,car,bike,309xx,GA,1.00,0.0,Apr-1999,740.0,744.0,5.0,NaN,NaN,3.0,0.0,1687.0,9.4%,4.0,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.00,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,499.0,0.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2,1077175,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077175,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,735.0,739.0,2.0,NaN,NaN,2.0,0.0,2956.0,98.5%,10.0,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.00,0.0,0.00,Jun-2014,649.91,NaN,Jun-2017,739.0,735.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,3,1076863,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1076863,other,personel,917xx,CA,20.00,0.0,Feb-1996,690.0,694.0,1.0,35.0,NaN,10.0,0.0,5598.0,21%,37.0,f,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.0,0.00,Jan-2015,357.48,NaN,Apr-2016,604.0,600.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,4,1075358,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1075358,other,Personal,972xx,OR,17.94,0.0,Jan-1996,695.0,699.0,0.0,38.0,NaN,15.0,0.0,27783.0,53.9%,38.0,f,0.0,0.0,4066.908161,4066.91,3000.00,1066.91,0.00,0.0,0.00,Jan-2017,67.30,NaN,Apr-2018,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [ ]:
# Últimos dados.
dados.tail()

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,...,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
2925488,105446,102556443,24000.0,24000.0,24000.0,60 months,23.99%,690.30,E,E2,Senior Escrow Officer,< 1 year,RENT,107000.0,Source Verified,Apr-2017,Charged Off,n,https://lendingclub.com/browse/loanDetail.action?loan_id=102556443,other,Other,801xx,CO,11.65,3.0,Apr-1995,670.0,674.0,1.0,4.0,73.0,13.0,2.0,9688.0,24.9%,24.0,f,0.0,0.0,7749.830000,7749.83,2561.41,5188.42,0.00,0.00,0.0000,Mar-2018,690.30,NaN,May-2020,504.0,500.0,1.0,8.0,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,90.0,263.0,6.0,4.0,0.0,18.0,NaN,4.0,4.0,1.0,4.0,7.0,6.0,11.0,5.0,12.0,18.0,7.0,13.0,0.0,0.0,1.0,2.0,87.5,0.0,1.0,1.0,103322.0,60812.0,28200.0,64422.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2925489,105447,102653304,10000.0,10000.0,10000.0,36 months,7.99%,313.32,A,A5,Rn,10+ years,MORTGAGE,65000.0,Source Verified,Apr-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=102653304,debt_consolidation,Debt consolidation,187xx,PA,19.55,1.0,Sep-1993,725.0,729.0,0.0,12.0,NaN,15.0,0.0,9751.0,15.7%,27.0,w,0.0,0.0,11233.834658,11233.83,10000.00,1233.83,0.00,0.00,0.0000,Oct-2019,2151.99,NaN,Oct-2019,769.0,765.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,154.0,282.0,1.0,1.0,0.0,1.0,12.0,17.0,12.0,0.0,4.0,8.0,7.0,12.0,4.0,13.0,23.0,8.0,15.0,0.0,0.0,0.0,2.0,92.6,14.3,0.0,0.0,132303.0,55863.0,34800.0,70203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2925490,105448,102628603,10050.0,10050.0,10050.0,36 months,16.99%,358.26,D,D1,Sales Associate,8 years,RENT,37000.0,Not Verified,Apr-2017,Charged Off,n,https://lendingclub.com/browse/loanDetail.action?loan_id=102628603,debt_consolidation,Debt consolidation,220xx,VA,20.56,0.0,May-1993,705.0,709.0,1.0,65.0,NaN,15.0,0.0,14300.0,47%,21.0,w,0.0,0.0,9484.880000,9484.88,6424.36,2522.65,0.00,537.87,96.8166,May-2019,358.26,NaN,Nov-2019,539.0,535.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,129.0,286.0,2.0,2.0,0.0,6.0,NaN,2.0,65.0,0.0,3.0,13.0,3.0,4.0,3.0,15.0,18.0,13.0,15.0,0.0,0.0,0.0,5.0,95.2,0.0,0.0,0.0,30400.0,14300.0,9000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2925491,105449,102196576,6000.0,6000.0,6000.0,36 months,11.44%,197.69,B,B4,Contact input,5 years,RENT,41000.0,Source Verified,Apr-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=102196576,credit_card,Credit card refinancing,105xx,NY,19.99,1.0,May-1990,670.0,674.0,0.0,0.0,NaN,9.0,0.0,1356.0,10.1%,18.0,w,0.0,0.0,6917.541543,6917.54,6000.00,917.54,0.00,0.00,0.0000,Jan-2019,2958.01,NaN,Mar-2020,764.0,760.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,1.0,...,51.0,209.0,322.0,32.0,12.0,0.0,32.0,0.0,10.0,0.0,0.0,2.0,3.0,2.0,4.0,9.0,6.0,9.0,3.0,8.0,0.0,0.0,0.0,1.0,94.4,0.0,0.0,0.0,47476.0,26201.0,8100.0,34076.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2925492,105450,99799684,30000.0,30000.0,30000.0,60 months,25.49%,889.18,E,E4,Assistant Manager,4 years,MORTGAGE,105700.0,Verified,Apr-2017,Charged Off,n,https://lendingclub.com/browse/loanDetail.action?loan_id=99799684,debt_consolidation,Debt consolidation,797xx,TX,27.26,1.0,Nov-1997,695.0,699.0,0.0,6.0,NaN,12.0,0.0,15252.0,72.6%,23.0,w,0.0,0.0,5490.060000,5490.06,251.93,940.24,44.46,4253.43,765.6174,Oct-2017,20.00,NaN,Nov-2017,579.0,575.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,...,0.0,186.0,232.0,31.0,9.0,3.0,42.0,NaN,10.0,6.0,0.0,3.0,4.0,3.0,3.0,11.0,6.0,9.0,4.0,12.0,0.0,0.0,0.0,1.0,91.3,66.7,0.0,0.0,275706.0,75819.0,16000.0,89732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [ ]:
# Verificando a Estatística Básica dos dados.
dados.describe

<bound method NDFrame.describe of          Unnamed: 0         id  loan_amnt  funded_amnt  funded_amnt_inv  \
0                 0    1077501     5000.0       5000.0           4975.0
1                 1    1077430     2500.0       2500.0           2500.0
2                 2    1077175     2400.0       2400.0           2400.0
3                 3    1076863    10000.0      10000.0          10000.0
4                 4    1075358     3000.0       3000.0           3000.0
...             ...        ...        ...          ...              ...
2925488      105446  102556443    24000.0      24000.0          24000.0
2925489      105447  102653304    10000.0      10000.0          10000.0
2925490      105448  102628603    10050.0      10050.0          10050.0
2925491      105449  102196576     6000.0       6000.0           6000.0
2925492      105450   99799684    30000.0      30000.0          30000.0

               term int_rate  installment grade sub_grade  \
0         36 months   10.65%       162.87     B        B2
1         60 months   15.27%        59.83     C        C4
2         36 months   15.96%        84.33     C        C5
3         36 months   13.49%       339.31     C        C1
4         60 months   12.69%        67.79     B        B5
...             ...      ...          ...   ...       ...
2925488   60 months   23.99%       690.30     E        E2
2925489   36 months    7.99%       313.32     A        A5
2925490   36 months   16.99%       358.26     D        D1
2925491   36 months   11.44%       197.69     B        B4
2925492   60 months   25.49%       889.18     E        E4

                        emp_title emp_length home_ownership  annual_inc  \
0                             NaN  10+ years           RENT     24000.0
1                           Ryder   < 1 year           RENT     30000.0
2                             NaN  10+ years           RENT     12252.0
3             AIR RESOURCES BOARD  10+ years           RENT     49200.0
4        University Medical Group     1 year           RENT     80000.0
...                           ...        ...            ...         ...
2925488     Senior Escrow Officer   < 1 year           RENT    107000.0
2925489                        Rn  10+ years       MORTGAGE     65000.0
2925490           Sales Associate    8 years           RENT     37000.0
2925491             Contact input    5 years           RENT     41000.0
2925492         Assistant Manager    4 years       MORTGAGE    105700.0

        verification_status   issue_d  loan_status pymnt_plan  \
0                  Verified  Dec-2011   Fully Paid          n
1           Source Verified  Dec-2011  Charged Off          n
2              Not Verified  Dec-2011   Fully Paid          n
3           Source Verified  Dec-2011   Fully Paid          n
4           Source Verified  Dec-2011   Fully Paid          n
...                     ...       ...          ...        ...
2925488     Source Verified  Apr-2017  Charged Off          n
2925489     Source Verified  Apr-2017   Fully Paid          n
2925490        Not Verified  Apr-2017  Charged Off          n
2925491     Source Verified  Apr-2017   Fully Paid          n
2925492            Verified  Apr-2017  Charged Off          n

                                                                        url  \
0          https://lendingclub.com/browse/loanDetail.action?loan_id=1077501
1          https://lendingclub.com/browse/loanDetail.action?loan_id=1077430
2          https://lendingclub.com/browse/loanDetail.action?loan_id=1077175
3          https://lendingclub.com/browse/loanDetail.action?loan_id=1076863
4          https://lendingclub.com/browse/loanDetail.action?loan_id=1075358
...                                                                     ...
2925488  https://lendingclub.com/browse/loanDetail.action?loan_id=102556443
2925489  https://lendingclub.com/browse/loanDetail.action?loan_id=102653304
2925490  https://lendingclub.com/browse/loanDetail.action?loan_id=102628603
2925491  https://lendingclub.com/browse/loanDetail.action?loan_id=102196576
2925492   https://lendingclub.com/browse/loanDetail.action?loan_id=99799684

                    purpose                    title zip_code addr_state  \
0               credit_card                 Computer    860xx         AZ
1                       car                     bike    309xx         GA
2            small_business     real estate business    606xx         IL
3                     other                 personel    917xx         CA
4                     other                 Personal    972xx         OR
...                     ...                      ...      ...        ...
2925488               other                    Other    801xx         CO
2925489  debt_consolidation       Debt consolidation    187xx         PA
2925490  debt_consolidation       Debt consolidation    220xx         VA
2925491         credit_card  Credit card refinancing    105xx         NY
2925492  debt_consolidation       Debt consolidation    797xx         TX

           dti  delinq_2yrs earliest_cr_line  fico_range_low  fico_range_high  \
0        27.65          0.0         Jan-1985           735.0            739.0
1         1.00          0.0         Apr-1999           740.0            744.0
2         8.72          0.0         Nov-2001           735.0            739.0
3        20.00          0.0         Feb-1996           690.0            694.0
4        17.94          0.0         Jan-1996           695.0            699.0
...        ...          ...              ...             ...              ...
2925488  11.65          3.0         Apr-1995           670.0            674.0
2925489  19.55          1.0         Sep-1993           725.0            729.0
2925490  20.56          0.0         May-1993           705.0            709.0
2925491  19.99          1.0         May-1990           670.0            674.0
2925492  27.26          1.0         Nov-1997           695.0            699.0

         inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0                   1.0                     NaN                     NaN
1                   5.0                     NaN                     NaN
2                   2.0                     NaN                     NaN
3                   1.0                    35.0                     NaN
4                   0.0                    38.0                     NaN
...                 ...                     ...                     ...
2925488             1.0                     4.0                    73.0
2925489             0.0                    12.0                     NaN
2925490             1.0                    65.0                     NaN
2925491             0.0                     0.0                     NaN
2925492             0.0                     6.0                     NaN

         open_acc  pub_rec  revol_bal revol_util  total_acc  \
0             3.0      0.0    13648.0      83.7%        9.0
1             3.0      0.0     1687.0       9.4%        4.0
2             2.0      0.0     2956.0      98.5%       10.0
3            10.0      0.0     5598.0        21%       37.0
4            15.0      0.0    27783.0      53.9%       38.0
...           ...      ...        ...        ...        ...
2925488      13.0      2.0     9688.0      24.9%       24.0
2925489      15.0      0.0     9751.0      15.7%       27.0
2925490      15.0      0.0    14300.0        47%       21.0
2925491       9.0      0.0     1356.0      10.1%       18.0
2925492      12.0      0.0    15252.0      72.6%       23.0

        initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
0                         f        0.0            0.0   5863.155187
1                         f        0.0            0.0   1014.530000
2                         f        0.0            0.0   3005.666844
3                         f        0.0            0.0  12231.890000
4                         f        0.0            0.0   4066.908161
...                     ...        ...            ...           ...
2925488                   f        0.0            0.0   7749.830000
2925489                   w        0.0            0.0  11233.834658
2925490                   w        0.0            0.0   9484.880000
2925491                   w        0.0            0.0   6917.541543
2925492                   w        0.0            0.0   5490.060000

         total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0                5833.84          5000.00         863.16                0.00
1                1014.53           456.46         435.17                0.00
2                3005.67          2400.00         605.67                0.00
3               12231.89         10000.00        2214.92               16.97
4                4066.91          3000.00        1066.91                0.00
...                  ...              ...            ...                 ...
2925488          7749.83          2561.41        5188.42                0.00
2925489         11233.83         10000.00        1233.83                0.00
2925490          9484.88          6424.36        2522.65                0.00
2925491          6917.54          6000.00         917.54                0.00
2925492          5490.06           251.93         940.24               44.46

         recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
0              0.00                   0.0000     Jan-2015           171.62
1            122.90                   1.1100     Apr-2013           119.66
2              0.00                   0.0000     Jun-2014           649.91
3              0.00                   0.0000     Jan-2015           357.48
4              0.00                   0.0000     Jan-2017            67.30
...             ...                      ...          ...              ...
2925488        0.00                   0.0000     Mar-2018           690.30
2925489        0.00                   0.0000     Oct-2019          2151.99
2925490      537.87                  96.8166     May-2019           358.26
2925491        0.00                   0.0000     Jan-2019          2958.01
2925492     4253.43                 765.6174     Oct-2017            20.00

        next_pymnt_d last_credit_pull_d  last_fico_range_high  \
0                NaN           May-2020                 704.0
1                NaN           Oct-2016                 499.0
2                NaN           Jun-2017                 739.0
3                NaN           Apr-2016                 604.0
4                NaN           Apr-2018                 684.0
...              ...                ...                   ...
2925488          NaN           May-2020                 504.0
2925489          NaN           Oct-2019                 769.0
2925490          NaN           Nov-2019                 539.0
2925491          NaN           Mar-2020                 764.0
2925492          NaN           Nov-2017                 579.0

         last_fico_range_low  collections_12_mths_ex_med  \
0                      700.0                         0.0
1                        0.0                         0.0
2                      735.0                         0.0
3                      600.0                         0.0
4                      680.0                         0.0
...                      ...                         ...
2925488                500.0                         1.0
2925489                765.0                         0.0
2925490                535.0                         0.0
2925491                760.0                         0.0
2925492                575.0                         0.0

         mths_since_last_major_derog  policy_code application_type  \
0                                NaN          1.0       Individual
1                                NaN          1.0       Individual
2                                NaN          1.0       Individual
3                                NaN          1.0       Individual
4                                NaN          1.0       Individual
...                              ...          ...              ...
2925488                          8.0          1.0       Individual
2925489                          NaN          1.0       Individual
2925490                          NaN          1.0       Individual
2925491                          NaN          1.0       Individual
2925492                          NaN          1.0       Individual

         annual_inc_joint  dti_joint verification_status_joint  \
0                     NaN        NaN                       NaN
1                     NaN        NaN                       NaN
2                     NaN        NaN                       NaN
3                     NaN        NaN                       NaN
4                     NaN        NaN                       NaN
...                   ...        ...                       ...
2925488               NaN        NaN                       NaN
2925489               NaN        NaN                       NaN
2925490               NaN        NaN                       NaN
2925491               NaN        NaN                       NaN
2925492               NaN        NaN                       NaN

         acc_now_delinq  ...  delinq_amnt  mo_sin_old_il_acct  \
0                   0.0  ...          0.0                 NaN
1                   0.0  ...          0.0                 NaN
2                   0.0  ...          0.0                 NaN
3                   0.0  ...          0.0                 NaN
4                   0.0  ...          0.0                 NaN
...                 ...  ...          ...                 ...
2925488             0.0  ...          0.0                90.0
2925489             0.0  ...          0.0               154.0
2925490             0.0  ...          0.0               129.0
2925491             1.0  ...         51.0               209.0
2925492             0.0  ...          0.0               186.0

         mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  \
0                         NaN                    NaN             NaN
1                         NaN                    NaN             NaN
2                         NaN                    NaN             NaN
3                         NaN                    NaN             NaN
4                         NaN                    NaN             NaN
...                       ...                    ...             ...
2925488                 263.0                    6.0             4.0
2925489                 282.0                    1.0             1.0
2925490                 286.0                    2.0             2.0
2925491                 322.0                   32.0            12.0
2925492                 232.0                   31.0             9.0

         mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  \
0             NaN                   NaN                       NaN
1             NaN                   NaN                       NaN
2             NaN                   NaN                       NaN
3             NaN                   NaN                       NaN
4             NaN                   NaN                       NaN
...           ...                   ...                       ...
2925488       0.0                  18.0                       NaN
2925489       0.0                   1.0                      12.0
2925490       0.0                   6.0                       NaN
2925491       0.0                  32.0                       0.0
2925492       3.0                  42.0                       NaN

         mths_since_recent_inq  mths_since_recent_revol_delinq  \
0                          NaN                             NaN
1                          NaN                             NaN
2                          NaN                             NaN
3                          NaN                             NaN
4                          NaN                             NaN
...                        ...                             ...
2925488                    4.0                             4.0
2925489                   17.0                            12.0
2925490                    2.0                            65.0
2925491                   10.0                             0.0
2925492                   10.0                             6.0

         num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  \
0                          NaN             NaN              NaN          NaN
1                          NaN             NaN              NaN          NaN
2                          NaN             NaN              NaN          NaN
3                          NaN             NaN              NaN          NaN
4                          NaN             NaN              NaN          NaN
...                        ...             ...              ...          ...
2925488                    1.0             4.0              7.0          6.0
2925489                    0.0             4.0              8.0          7.0
2925490                    0.0             3.0             13.0          3.0
2925491                    0.0             2.0              3.0          2.0
2925492                    0.0             3.0              4.0          3.0

         num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  \
0              NaN        NaN            NaN            NaN
1              NaN        NaN            NaN            NaN
2              NaN        NaN            NaN            NaN
3              NaN        NaN            NaN            NaN
4              NaN        NaN            NaN            NaN
...            ...        ...            ...            ...
2925488       11.0        5.0           12.0           18.0
2925489       12.0        4.0           13.0           23.0
2925490        4.0        3.0           15.0           18.0
2925491        4.0        9.0            6.0            9.0
2925492        3.0       11.0            6.0            9.0

         num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  num_tl_30dpd  \
0                        NaN       NaN               NaN           NaN
1                        NaN       NaN               NaN           NaN
2                        NaN       NaN               NaN           NaN
3                        NaN       NaN               NaN           NaN
4                        NaN       NaN               NaN           NaN
...                      ...       ...               ...           ...
2925488                  7.0      13.0               0.0           0.0
2925489                  8.0      15.0               0.0           0.0
2925490                 13.0      15.0               0.0           0.0
2925491                  3.0       8.0               0.0           0.0
2925492                  4.0      12.0               0.0           0.0

         num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  \
0                       NaN                 NaN             NaN
1                       NaN                 NaN             NaN
2                       NaN                 NaN             NaN
3                       NaN                 NaN             NaN
4                       NaN                 NaN             NaN
...                     ...                 ...             ...
2925488                 1.0                 2.0            87.5
2925489                 0.0                 2.0            92.6
2925490                 0.0                 5.0            95.2
2925491                 0.0                 1.0            94.4
2925492                 0.0                 1.0            91.3

         percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
0                     NaN                   0.0        0.0              NaN
1                     NaN                   0.0        0.0              NaN
2                     NaN                   0.0        0.0              NaN

In [ ]:
# Verificando dados nulos.
dados.isna().sum(axis=0)

Unnamed: 0                                          0
id                                                  0
loan_amnt                                           1
funded_amnt                                         1
funded_amnt_inv                                     1
                                               ...
hardship_loan_status                          2782082
orig_projected_additional_accrued_interest    2746253
hardship_payoff_balance_amount                2743417
hardship_last_payment_amount                  2743417
debt_settlement_flag                                1
Length: 142, dtype: int64

# 3 - Preparação dos dados
## 3.1 - Selecão dos dados

In [ ]:
# Renomeando as colunas do cicionário de dados.
dicionario = dicionario.rename(columns={'LoanStatNew': 'nome', 'Descrição': 'descrição'})
dicionario.head()

,nome,descrição
0,acc_now_delinq,O número de contas em que o devedor está inadimplente.
1,acc_open_past_24mths,Número de transações abertas nos últimos 24 meses.
2,addr_state,O estado fornecido pelo mutuário no pedido de empréstimo
3,all_util,Saldo para limite de crédito em todas as negociações
4,annual_inc,A renda anual auto-relatada fornecida pelo mutuário durante o registro.

### 3.1.1 - Comparador de dados para seleção de colunas a serem utilizadas

In [ ]:
# Salvando os tipos de dados em um novo DataFrame.
dados_dtypes = pd.DataFrame(dados.dtypes, columns=['dtypes'])
dados_dtypes = dados_dtypes.reset_index()

# Ajuste dos índices e nomes das colunas
dados_dtypes['nome'] = dados_dtypes['index']
dados_dtypes = dados_dtypes[['nome', 'dtypes']]


# Amostra do DataFrame principal para demonstrar como esse dado funciona.
dados_dtypes['primeira_linha'] = dados.loc[0].values
dados_dtypes['linha_meio'] = dados.loc[((len(dados)-1)/2)].values
dados_dtypes['ultima_linha'] = dados.loc[len(dados)-1].values

# Juntando os DataFrames (dtypes e dicionário de dados)
preview = dados_dtypes.merge(dicionario, on='nome', how='left')
preview.head()

,nome,dtypes,primeira_linha,linha_meio,ultima_linha,descrição
0,Unnamed: 0,int64,0,105589,105450,NaN
1,id,object,1077501,160390785,99799684,Uma ID exclusiva atribuída ao LC para a lista de empréstimos.
2,loan_amnt,float64,5000,17000,30000,"O valor listado do empréstimo solicitado pelo mutuário. Se em algum momento o departamento de crédito reduzir o valor do empréstimo, isso se refletirá neste valor."
3,funded_amnt,float64,5000,17000,30000,O valor total comprometido com esse empréstimo naquele momento.
4,funded_amnt_inv,float64,4975,17000,30000,O valor total comprometido pelos investidores para aquele empréstimo naquele momento.

In [ ]:
# Conferindo linha por linha para determinar qual coluna permanecer e qual excluir da análise.
preview[135:145]

,nome,dtypes,primeira_linha,linha_meio,ultima_linha,descrição
135,hardship_length,float64,NaN,4,NaN,O número de meses em que o mutuário fará pagamentos menores do que os normalmente obrigados devido a um plano de dificuldades
136,hardship_dpd,float64,NaN,0,NaN,Dias da conta vencidos a partir da data de início do plano de dificuldades
137,hardship_loan_status,object,NaN,ACTIVE,NaN,Status do empréstimo na data de início do plano de dificuldades
138,orig_projected_additional_accrued_interest,float64,NaN,1300.43,NaN,A quantia de juros adicional projetada original que será acumulada para o plano de pagamento de dificuldades a partir da Data de início de dificuldades. Este campo será nulo se o mutuário violou o plano de pagamento de dificuldades financeiras.
139,hardship_payoff_balance_amount,float64,NaN,15456.7,NaN,O valor do saldo de reembolso na data de início do plano de dificuldades
140,hardship_last_payment_amount,float64,NaN,347.44,NaN,O último valor de pagamento na data de início do plano de dificuldades
141,debt_settlement_flag,object,N,N,N,"Sinaliza se o mutuário, que efetuou a baixa, está trabalhando com uma empresa de liquidação de dívidas."

In [ ]:
# criando listas com colunas a serem excluidas.
drop_list = ['Unnamed: 0', 'id', 'funded_amnt', 'funded_amnt_inv', 'sub_grade', 'url', 'title', 'zip_code', 'fico_range_low', 
             'fico_range_high', 'last_fico_range_high', 'last_fico_range_low', 'out_prncp_inv', 'total_pymnt_inv', 
             'total_rev_hi_lim', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 
             'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 
             'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 
             'sec_app_collections_12_mths_ex_med', 'hardship_type']

Portanto no momento essas são as colunas que a princípio serão excluídas. Mas pode-se determinar outras colunas a serem excluidas após as análises que serão realizadas.
## 3.2 - Limpeza de dados

In [ ]:
# Verificando informações antes das etapas de limpeza dos dados.
dados.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Columns: 142 entries, Unnamed: 0 to debt_settlement_flag
dtypes: float64(106), int64(1), object(35)
memory usage: 3.1+ GB

In [ ]:
# Verificando a proporção dos dados antes das etapas de limpeza dos dados.
dados.shape

(2925493, 142)

In [ ]:
# Excluindo colunas selecionadas e incluidas na lista a serem dropadas.
dados = dados.drop(drop_list, axis=1)

In [ ]:
# Verificando informações após primeira etapa de limpeza dos dados.
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Columns: 112 entries, loan_amnt to debt_settlement_flag
dtypes: float64(83), object(29)
memory usage: 2.4+ GB

In [ ]:
# Verificando proporção após primeira etapa de limpeza dos dados.
dados.shape

(2925493, 112)

### 3.2.1 - Removendo colunas com muitos dados faltantes

In [ ]:
# Uma maneira inteligente de filtrar dados vazios é usando um limiar de corte (threshold)
meia_amostra = len(dados) / 2
dados = dados.dropna(thresh=meia_amostra, axis=1)

In [ ]:
# Verificando informações após segunda etapa de limpeza dos dados.
dados.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Data columns (total 88 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   term                        object
 2   int_rate                    object
 3   installment                 float64
 4   grade                       object
 5   emp_title                   object
 6   emp_length                  object
 7   home_ownership              object
 8   annual_inc                  float64
 9   verification_status         object
 10  issue_d                     object
 11  loan_status                 object
 12  pymnt_plan                  object
 13  purpose                     object
 14  addr_state                  object
 15  dti                         float64
 16  delinq_2yrs                 float64
 17  earliest_cr_line            object
 18  inq_last_6mths              float64
 19  open_acc                    float64
 20  pub_rec                     float64
 21  revol_bal                   float64
 22  revol_util                  object
 23  total_acc                   float64
 24  initial_list_status         object
 25  out_prncp                   float64
 26  total_pymnt                 float64
 27  total_rec_prncp             float64
 28  total_rec_int               float64
 29  total_rec_late_fee          float64
 30  recoveries                  float64
 31  collection_recovery_fee     float64
 32  last_pymnt_d                object
 33  last_pymnt_amnt             float64
 34  last_credit_pull_d          object
 35  collections_12_mths_ex_med  float64
 36  policy_code                 float64
 37  application_type            object
 38  acc_now_delinq              float64
 39  tot_coll_amt                float64
 40  tot_cur_bal                 float64
 41  open_acc_6m                 float64
 42  open_act_il                 float64
 43  open_il_12m                 float64
 44  open_il_24m                 float64
 45  mths_since_rcnt_il          float64
 46  total_bal_il                float64
 47  il_util                     float64
 48  open_rv_12m                 float64
 49  open_rv_24m                 float64
 50  max_bal_bc                  float64
 51  all_util                    float64
 52  inq_fi                      float64
 53  total_cu_tl                 float64
 54  inq_last_12m                float64
 55  acc_open_past_24mths        float64
 56  avg_cur_bal                 float64
 57  bc_open_to_buy              float64
 58  bc_util                     float64
 59  chargeoff_within_12_mths    float64
 60  delinq_amnt                 float64
 61  mo_sin_old_il_acct          float64
 62  mo_sin_old_rev_tl_op        float64
 63  mo_sin_rcnt_rev_tl_op       float64
 64  mo_sin_rcnt_tl              float64
 65  mort_acc                    float64
 66  mths_since_recent_bc        float64
 67  mths_since_recent_inq       float64
 68  num_accts_ever_120_pd       float64
 69  num_actv_bc_tl              float64
 70  num_actv_rev_tl             float64
 71  num_bc_sats                 float64
 72  num_bc_tl                   float64
 73  num_il_tl                   float64
 74  num_op_rev_tl               float64
 75  num_rev_accts               float64
 76  num_rev_tl_bal_gt_0         float64
 77  num_sats                    float64
 78  num_tl_120dpd_2m            float64
 79  num_tl_30dpd                float64
 80  num_tl_90g_dpd_24m          float64
 81  num_tl_op_past_12m          float64
 82  pct_tl_nvr_dlq              float64
 83  percent_bc_gt_75            float64
 84  pub_rec_bankruptcies        float64
 85  tax_liens                   float64
 86  hardship_flag               object
 87  debt_settlement_flag        object
dtypes: float64(68), object(20)
memory usage: 1.9+ GB

In [ ]:
# Verificando proporção após segunda etapa de limpeza dos dados.
dados.shape

(2925493, 88)

In [ ]:
# Salvando os tipos de dados em um novo DataFrame.
dados_dtypes1 = pd.DataFrame(dados.dtypes, columns=['dtypes'])
dados_dtypes1 = dados_dtypes1.reset_index()

# Ajuste dos índices e nomes das colunas
dados_dtypes1['nome'] = dados_dtypes1['index']
dados_dtypes1 = dados_dtypes1[['nome', 'dtypes']]


# Amostra do DataFrame principal para demonstrar como esse dado funciona.
dados_dtypes1['primeira_linha'] = dados.loc[0].values
dados_dtypes1['linha_meio'] = dados.loc[((len(dados)-1)/2)].values
dados_dtypes1['ultima_linha'] = dados.loc[len(dados)-1].values

# Juntando os DataFrames (dtypes e dicionário de dados)
preview1 = dados_dtypes1.merge(dicionario, on='nome', how='left')
preview1.head()

,nome,dtypes,primeira_linha,linha_meio,ultima_linha,descrição
0,loan_amnt,float64,5000,17000,30000,"O valor listado do empréstimo solicitado pelo mutuário. Se em algum momento o departamento de crédito reduzir o valor do empréstimo, isso se refletirá neste valor."
1,term,object,36 months,36 months,60 months,O número de pagamentos do empréstimo. Os valores estão em meses e podem ser 36 ou 60.
2,int_rate,object,10.65%,16.95%,25.49%,Taxa de juros do empréstimo
3,installment,float64,162.87,605.68,889.18,O pagamento mensal devido pelo mutuário se o empréstimo for originado.
4,grade,object,B,C,E,Nota de empréstimo atribuída pela Lending Club

In [ ]:
# Conferindo linha por linha para determinar qual coluna permanecer e qual excluir da análise.
preview1[73:90]

,nome,dtypes,primeira_linha,linha_meio,ultima_linha,descrição
73,num_il_tl,float64,NaN,14,11,Número de contas parceladas
74,num_op_rev_tl,float64,NaN,6,6,Número de contas rotativas abertas
75,num_rev_accts,float64,NaN,11,9,Número de contas rotativas
76,num_rev_tl_bal_gt_0,float64,NaN,3,4,Número de negociações rotativas com saldo> 0
77,num_sats,float64,NaN,15,12,Número de contas satisfatórias
78,num_tl_120dpd_2m,float64,NaN,0,0,Número de contas vencidas há 120 dias (atualizado nos últimos 2 meses)
79,num_tl_30dpd,float64,NaN,0,0,Número de contas vencidas há 30 dias (atualizado nos últimos 2 meses)
80,num_tl_90g_dpd_24m,float64,NaN,0,0,Número de contas vencidas há 90 ou mais dias nos últimos 24 meses
81,num_tl_op_past_12m,float64,NaN,5,1,Número de contas abertas nos últimos 12 meses
82,pct_tl_nvr_dlq,float64,NaN,100,91.3,Porcentagem de negociações nunca inadimplentes
83,percent_bc_gt_75,float64,NaN,50,66.7,Porcentagem de todas as contas de cartão bancário> 75% do limite.
84,pub_rec_bankruptcies,float64,0,1,0,Número de falências de registro público
85,tax_liens,float64,0,0,0,Número de gravames fiscais
86,hardship_flag,object,N,Y,N,Sinaliza se o mutuário está ou não em um plano de dificuldades
87,debt_settlement_flag,object,N,N,N,"Sinaliza se o mutuário, que efetuou a baixa, está trabalhando com uma empresa de liquidação de dívidas."

In [ ]:
# Criando segunda lista com nome de colunas a serem excluídas.
drop_list1 = ['open_acc', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'total_bal_il', 'open_rv_12m', 
              'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'num_bc_sats', 
              'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'percent_bc_gt_75']

In [ ]:
# Excluindo colunas selecionadas e incluidas na lista a serem dropadas.
dados = dados.drop(drop_list1, axis=1)

In [ ]:
# Verificando informações após terceira etapa de limpeza dos dados.
dados.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Data columns (total 68 columns):
 #   Column                    Dtype
---  ------                    -----
 0   loan_amnt                 float64
 1   term                      object
 2   int_rate                  object
 3   installment               float64
 4   grade                     object
 5   emp_title                 object
 6   emp_length                object
 7   home_ownership            object
 8   annual_inc                float64
 9   verification_status       object
 10  issue_d                   object
 11  loan_status               object
 12  pymnt_plan                object
 13  purpose                   object
 14  addr_state                object
 15  dti                       float64
 16  delinq_2yrs               float64
 17  earliest_cr_line          object
 18  inq_last_6mths            float64
 19  pub_rec                   float64
 20  revol_bal                 float64
 21  revol_util                object
 22  total_acc                 float64
 23  initial_list_status       object
 24  out_prncp                 float64
 25  total_pymnt               float64
 26  total_rec_prncp           float64
 27  total_rec_int             float64
 28  total_rec_late_fee        float64
 29  recoveries                float64
 30  collection_recovery_fee   float64
 31  policy_code               float64
 32  application_type          object
 33  acc_now_delinq            float64
 34  tot_coll_amt              float64
 35  tot_cur_bal               float64
 36  open_acc_6m               float64
 37  open_act_il               float64
 38  open_il_12m               float64
 39  open_il_24m               float64
 40  mths_since_rcnt_il        float64
 41  il_util                   float64
 42  inq_fi                    float64
 43  total_cu_tl               float64
 44  bc_util                   float64
 45  chargeoff_within_12_mths  float64
 46  delinq_amnt               float64
 47  mo_sin_old_il_acct        float64
 48  mo_sin_old_rev_tl_op      float64
 49  mo_sin_rcnt_rev_tl_op     float64
 50  mo_sin_rcnt_tl            float64
 51  mort_acc                  float64
 52  mths_since_recent_bc      float64
 53  mths_since_recent_inq     float64
 54  num_accts_ever_120_pd     float64
 55  num_actv_bc_tl            float64
 56  num_actv_rev_tl           float64
 57  num_bc_tl                 float64
 58  num_il_tl                 float64
 59  num_op_rev_tl             float64
 60  num_tl_30dpd              float64
 61  num_tl_90g_dpd_24m        float64
 62  num_tl_op_past_12m        float64
 63  pct_tl_nvr_dlq            float64
 64  pub_rec_bankruptcies      float64
 65  tax_liens                 float64
 66  hardship_flag             object
 67  debt_settlement_flag      object
dtypes: float64(50), object(18)
memory usage: 4.2 GB

In [ ]:
# Verificando proporção após terceira etapa de limpeza dos dados.
dados.shape

(2925493, 68)

Pode-se perceber que após a primeira e segunda etapa em que foram excluídas colunas, consideravelmente reduziu-se o número de colunas.

**1. Primeira etapa** -> Colunas selecionadas a serem excluídas.
* Quantidade antes e depois: de 142 para 112.

**2. Segunda etapa** -> Colunas com muitos dados faltantes a serem excluídos.
* Quantidade antes e depois: de 112 para 88.

**3. Terceira etapa** -> Colunas selecionadas a serem excluídas.
* Quantidade antes e depois: de 88 para 68.

Podemos verificar que a maioria de exclusões foram por conta de dados faltantes.

In [ ]:
# Verificando se restaram colunas com dados faltantes.
dados.isna().sum(axis=0)

loan_amnt                   1
term                        1
int_rate                    1
installment                 1
grade                       1
                        ...
pct_tl_nvr_dlq          70432
pub_rec_bankruptcies     1366
tax_liens                 106
hardship_flag           38436
debt_settlement_flag        1
Length: 68, dtype: int64

In [ ]:
dados.to_csv('lc_dados.csv', index=False)

In [3]:
# Lendo os dados da Leading Club.
df = pd.read_csv('/content/drive/MyDrive/ArquivosPA/limpeza_analise_modelo_Lending_Club/lc_dados.csv', engine='c')

In [4]:
# Informação da base salva.
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Data columns (total 68 columns):
 #   Column                    Dtype
---  ------                    -----
 0   loan_amnt                 float64
 1   term                      object
 2   int_rate                  object
 3   installment               float64
 4   grade                     object
 5   emp_title                 object
 6   emp_length                object
 7   home_ownership            object
 8   annual_inc                float64
 9   verification_status       object
 10  issue_d                   object
 11  loan_status               object
 12  pymnt_plan                object
 13  purpose                   object
 14  addr_state                object
 15  dti                       float64
 16  delinq_2yrs               float64
 17  earliest_cr_line          object
 18  inq_last_6mths            float64
 19  pub_rec                   float64
 20  revol_bal                 float64
 21  revol_util                object
 22  total_acc                 float64
 23  initial_list_status       object
 24  out_prncp                 float64
 25  total_pymnt               float64
 26  total_rec_prncp           float64
 27  total_rec_int             float64
 28  total_rec_late_fee        float64
 29  recoveries                float64
 30  collection_recovery_fee   float64
 31  policy_code               float64
 32  application_type          object
 33  acc_now_delinq            float64
 34  tot_coll_amt              float64
 35  tot_cur_bal               float64
 36  open_acc_6m               float64
 37  open_act_il               float64
 38  open_il_12m               float64
 39  open_il_24m               float64
 40  mths_since_rcnt_il        float64
 41  il_util                   float64
 42  inq_fi                    float64
 43  total_cu_tl               float64
 44  bc_util                   float64
 45  chargeoff_within_12_mths  float64
 46  delinq_amnt               float64
 47  mo_sin_old_il_acct        float64
 48  mo_sin_old_rev_tl_op      float64
 49  mo_sin_rcnt_rev_tl_op     float64
 50  mo_sin_rcnt_tl            float64
 51  mort_acc                  float64
 52  mths_since_recent_bc      float64
 53  mths_since_recent_inq     float64
 54  num_accts_ever_120_pd     float64
 55  num_actv_bc_tl            float64
 56  num_actv_rev_tl           float64
 57  num_bc_tl                 float64
 58  num_il_tl                 float64
 59  num_op_rev_tl             float64
 60  num_tl_30dpd              float64
 61  num_tl_90g_dpd_24m        float64
 62  num_tl_op_past_12m        float64
 63  pct_tl_nvr_dlq            float64
 64  pub_rec_bankruptcies      float64
 65  tax_liens                 float64
 66  hardship_flag             object
 67  debt_settlement_flag      object
dtypes: float64(50), object(18)
memory usage: 4.2 GB

## 3.3 - Formatação de dados - Casting (Convertendo tipos de dados em colunas)
Nesta etapa será feita a conversão no tipo de dados em algumas colunas.
* Float -> Int.
* Object -> Datetime.
* Object -> Int

In [5]:
# Verificando os tipos de dados.
print("Tipos de dados e sua frequência\n{}".format(df.dtypes.value_counts()))

Tipos de dados e sua frequência
float64    50
object     18
dtype: int64

### 3.3.1 - Dados de Object para Int, Float e Date

In [6]:
# Mostra as colunas que são do tipo object.
object_columns_df = df.select_dtypes(include=['object'])
print(object_columns_df.iloc[0])

term                      36 months
int_rate                     10.65%
grade                             B
emp_title                       NaN
emp_length                10+ years
home_ownership                 RENT
verification_status        Verified
issue_d                    Dec-2011
loan_status              Fully Paid
pymnt_plan                        n
purpose                 credit_card
addr_state                       AZ
earliest_cr_line           Jan-1985
revol_util                    83.7%
initial_list_status               f
application_type         Individual
hardship_flag                     N
debt_settlement_flag              N
Name: 0, dtype: object

In [7]:
# Alterando formato em que é mostrado as colunas com valores em porcentagens.
df['int_rate'] = df['int_rate'].replace('%', '', regex=True).astype('float') / 100
df['revol_util'] = df['revol_util'].replace('%', '', regex=True).astype('float') / 100

In [8]:
# Verificando os tipos de dados.
print("Tipos de dados e sua frequência\n{}".format(df.dtypes.value_counts()))

Tipos de dados e sua frequência
float64    52
object     16
dtype: int64

In [9]:
# Mostra colunas que estão preenchidas com, no máximo, 4 categorias de dados
for col in df.columns:
    if (len(df[col].unique()) < 4):
        print(df[col].value_counts())
        print()

 36 months    2060077
 60 months     865415
Name: term, dtype: int64

n    2925492
Name: pymnt_plan, dtype: int64

w    2139434
f     786058
Name: initial_list_status, dtype: int64

1.0    2925492
Name: policy_code, dtype: int64

Individual    2714979
Joint App      210513
Name: application_type, dtype: int64

N    2765510
Y     121547
Name: hardship_flag, dtype: int64

N    2874021
Y      51471
Name: debt_settlement_flag, dtype: int64

In [10]:
# Excluir as linhas que a coluna de status do pagamento não sejam "Fully Paid" ou "Charged Off"
loans = df[(df["loan_status"] == "Fully Paid") | (df["loan_status"] == "Charged Off")]

# Gero um dicionário para substituir os status de pagamento
mapping_dictionary = {"loan_status":{ "Fully Paid": 1, "Charged Off": 0}, 
                     "term": {"36 months": 0, "60 months" : 1},
                     "hardship_flag" : {"N":0, "Y":1}}
loans = loans.replace(mapping_dictionary)

In [11]:
# Gero um dicionário para substituir os status de pagamento
mapping_dictionary1 = {"initial_list_status": {"w": 0, "f": 1}, 
                       "debt_settlement_flag": {"N": 0, "Y": 1}}
loans = loans.replace(mapping_dictionary1)

In [12]:
# Mostra colunas que estão preenchidas com mais de 4 categorias de dados
for col in loans.columns:
    if (len(loans[col].unique()) > 4):
        print(loans[col].value_counts())
        print()

10000.0    145211
20000.0    100469
12000.0     98926
15000.0     97754
5000.0      70229
            ...
700.0           1
950.0           1
38125.0         1
800.0           1
725.0           1
Name: loan_amnt, Length: 1568, dtype: int64

0.1199    42791
0.1099    42601
0.0532    41813
0.1399    38490
0.1149    30621
          ...
0.1734        1
0.1615        1
0.2264        1
0.1467        1
0.2440        1
Name: int_rate, Length: 684, dtype: int64

301.15     3875
332.10     3417
327.34     3345
361.38     3159
451.73     2749
           ...
947.41        1
944.59        1
673.21        1
1233.31       1
32.00         1
Name: installment, Length: 90807, dtype: int64

B    546603
C    528107
A    346317
D    275001
E    116500
F     37108
G     10695
Name: grade, dtype: int64

Teacher                           30748
Manager                           27960
Owner                             15903
Registered Nurse                  12592
RN                                12098
                                  ...
CUSTOMER SERVICE ADMINISTRATOR        1
Bilingual Liaioson                    1
Para Legal                            1
Cage Asst. Managet                    1
Director sales and marketing          1
Name: emp_title, Length: 456676, dtype: int64

10+ years    611330
2 years      168516
< 1 year     153700
3 years      149271
1 year       122924
5 years      115872
4 years      112211
6 years       85354
8 years       78646
7 years       78141
9 years       67170
Name: emp_length, dtype: int64

MORTGAGE    918028
RENT        735358
OWN         205578
ANY           1174
OTHER          144
NONE            49
Name: home_ownership, dtype: int64

60000.00    71719
50000.00    62958
65000.00    53636
70000.00    51027
40000.00    49056
            ...
51200.74        1
58491.12        1
65322.00        1
37124.52        1
27518.14        1
Name: annual_inc, Length: 79173, dtype: int64

Mar-2016    57553
Oct-2015    45443
Jul-2015    43414
Dec-2015    41306
Oct-2014    38781
            ...
Aug-2007       33
Sep-2008       32
Jul-2007       30
Sep-2007       18
Jun-2007        1
Name: issue_d, Length: 160, dtype: int64

debt_consolidation    1063459
credit_card            412844
home_improvement       123861
other                  113589
major_purchase          41750
medical                 22578
small_business          20515
car                     20215
vacation                13333
moving                  13203
house                   11099
wedding                  2298
renewable_energy         1260
educational               327
Name: purpose, dtype: int64

CA    264463
TX    152955
NY    150880
FL    133607
IL     72608
NJ     66965
PA     62757
OH     61139
GA     60576
NC     52050
VA     51916
MI     48649
AZ     45508
MD     43578
MA     42709
CO     40492
WA     39937
MN     32964
IN     30724
MO     29718
TN     29088
CT     28158
NV     27859
WI     24828
AL     22798
OR     22551
SC     22478
LA     21067
KY     17913
OK     16959
KS     15485
AR     14082
UT     13462
NM     10028
MS      9928
NH      9048
HI      9046
RI      8191
WV      6551
NE      6005
DE      5261
MT      5255
DC      4549
AK      4342
WY      3984
VT      3875
SD      3773
ME      3581
ID      3313
ND      2671
IA         7
Name: addr_state, dtype: int64

0.00      1355
19.20     1343
18.00     1322
14.40     1318
16.80     1311
          ...
165.60       1
92.54        1
92.71        1
92.79        1
127.20       1
Name: dti, Length: 9346, dtype: int64

0.0     1507892
1.0      234478
2.0       68156
3.0       24942
4.0       11111
5.0        5623
6.0        3183
7.0        1757
8.0        1069
9.0         666
10.0        453
11.0        306
12.0        216
13.0        133
14.0        112
15.0         75
16.0         43
18.0         29
17.0         25
19.0         18
20.0         15
21.0          8
22.0          4
26.0          3
29.0          2
23.0          2
25.0          2
39.0          1
28.0          1
36.0          1
24.0          1
42.0          1
27.0          1
32.0          1
30.0          1
Name: delinq_2yrs, dtype: int64

Sep-2003    12568
Sep-2004    12561
Aug-2001    12170
Aug-2002    12113
Aug-2003    12027
            ...
Jun-1956        1
Feb-1957        1
Aug-1951        1
Mar-1958        1
Nov-1955        1
Name: earliest_cr_line, Length: 763, dtype: int64

0.0    1100183
1.0     497346
2.0     176762
3.0      63228
4.0      16133
5.0       5652
6.0        956
7.0         48
8.0         22
Name: inq_last_6mths, dtype: int64

0.0     1552452
1.0      260561
2.0       30892
3.0        9484
4.0        3473
5.0        1656
6.0         830
7.0         379
8.0         214
9.0         118
10.0         77
11.0         55
12.0         32
13.0         22
15.0         10
14.0         10
16.0          9
19.0          7
18.0          6
21.0          6
17.0          5
28.0          4
24.0          3
20.0          3
22.0          3
61.0          2
49.0          2
23.0          2
54.0          1
52.0          1
63.0          1
32.0          1
86.0          1
47.0          1
46.0          1
45.0          1
44.0          1
40.0          1
37.0          1
34.0          1
25.0          1
31.0          1
Name: pub_rec, dtype: int64

0.0         10327
8.0           179
10.0          143
2.0           141
6312.0        140
            ...
66166.0         1
66164.0         1
66161.0         1
121386.0        1
131067.0        1
Name: revol_bal, Length: 94289, dtype: int64

0.000    10915
0.480     3549
0.570     3537
0.590     3515
0.530     3503
         ...
1.450        1
1.176        1
1.313        1
1.344        1
1.418        1
Name: revol_util, Length: 1406, dtype: int64

20.0     67606
19.0     67109
21.0     66934
18.0     66403
17.0     65921
         ...
134.0        1
133.0        1
127.0        1
117.0        1
173.0        1
Name: total_acc, Length: 149, dtype: int64

0.000000        1369
10838.354836     337
16257.527562     262
21676.719673     235
13006.027804     234
                ...
21122.350000       1
6298.280000        1
11683.708822       1
21380.541786       1
21255.499993       1
Name: total_pymnt, Length: 1721061, dtype: int64

10000.00    117054
12000.00     80546
20000.00     78517
15000.00     78412
5000.00      58856
             ...
13674.72         1
5123.79          1
714.94           1
7549.80          1
10114.17         1
Name: total_rec_prncp, Length: 266916, dtype: int64

0.00        3662
838.35       454
1257.53      356
1676.72      326
1431.12      313
            ...
3673.21        1
3212.16        1
11684.45       1
4201.46        1
12700.02       1
Name: total_rec_int, Length: 616038, dtype: int64

0.00      1765486
15.00       19234
30.00        3829
45.00        1323
60.00         579
           ...
119.25          1
15.00           1
15.40           1
16.06           1
19.89           1
Name: total_rec_late_fee, Length: 20822, dtype: int64

0.00       1595830
150.00        1158
100.00        1031
50.00          977
200.00         900
            ...
1033.21          1
557.22           1
24.16            1
554.78           1
7275.96          1
Name: recoveries, Length: 175219, dtype: int64

0.0000      1603993
27.0000        1050
18.0000         920
9.0000          849
36.0000         791
             ...
278.6769          1
43.0470           1
452.5038          1
3.2166            1
60.5322           1
Name: collection_recovery_fee, Length: 196993, dtype: int64

0.0     1852368
1.0        7509
2.0         390
3.0          48
4.0          11
5.0           3
14.0          1
6.0           1
Name: acc_now_delinq, dtype: int64

0.0        1516962
50.0          3373
100.0         2757
75.0          2099
200.0         1593
            ...
18628.0          1
18630.0          1
18639.0          1
11152.0          1
15703.0          1
Name: tot_coll_amt, Length: 14589, dtype: int64

0.0         698
16053.0      35
14186.0      34
11497.0      34
25197.0      34
           ...
343935.0      1
343931.0      1
343923.0      1
674817.0      1
290141.0      1
Name: tot_cur_bal, Length: 456108, dtype: int64

0.0     431524
1.0     320140
2.0     157836
3.0      64967
4.0      24748
5.0       8976
6.0       3429
7.0       1311
8.0        538
9.0        238
10.0       106
11.0        48
12.0        24
14.0         9
13.0         7
15.0         2
16.0         2
18.0         1
17.0         1
Name: open_acc_6m, dtype: int64

1.0     257966
2.0     246269
3.0     154675
0.0     116477
4.0      82604
5.0      45191
6.0      26954
7.0      18629
8.0      13625
9.0      10634
10.0      8356
11.0      6725
12.0      5388
13.0      4321
14.0      3406
15.0      2931
16.0      2126
17.0      1798
18.0      1409
19.0      1033
20.0       829
21.0       616
22.0       467
23.0       351
24.0       274
25.0       186
26.0       154
27.0       112
28.0       105
29.0        60
31.0        50
30.0        47
32.0        37
33.0        16
36.0        15
34.0        15
35.0        13
38.0         8
40.0         5
39.0         5
37.0         5
43.0         4
42.0         4
45.0         3
48.0         2
47.0         2
49.0         2
41.0         2
53.0         1
57.0         1
Name: open_act_il, dtype: int64

0.0     522365
1.0     314727
2.0     121939
3.0      37149
4.0      12035
5.0       3905
6.0       1371
7.0        217
8.0         94
9.0         47
10.0        27
11.0        16
12.0         6
13.0         4
20.0         2
21.0         1
14.0         1
15.0         1
25.0         1
Name: open_il_12m, dtype: int64

1.0     312207
0.0     250525
2.0     214027
3.0     116718
4.0      59179
5.0      30225
6.0      14886
7.0       7698
8.0       3937
9.0       1982
10.0      1123
11.0       601
12.0       353
13.0       203
14.0        96
15.0        45
16.0        33
17.0        18
18.0        15
19.0        10
20.0         9
22.0         4
21.0         3
26.0         3
23.0         2
30.0         1
24.0         1
51.0         1
39.0         1
28.0         1
31.0         1
Name: open_il_24m, dtype: int64

7.0      47970
4.0      47492
3.0      46570
6.0      45652
5.0      45562
         ...
301.0        1
302.0        1
305.0        1
307.0        1
511.0        1
Name: mths_since_rcnt_il, Length: 381, dtype: int64

78.0     17259
83.0     17207
81.0     17131
75.0     16884
85.0     16713
         ...
262.0        1
211.0        1
264.0        1
265.0        1
227.0        1
Name: il_util, Length: 266, dtype: int64

0.0     487288
1.0     256967
2.0     131693
3.0      66008
4.0      33097
5.0      17525
6.0       9153
7.0       5041
8.0       2858
9.0       1656
10.0       972
11.0       578
12.0       346
13.0       244
14.0       159
15.0       101
16.0        71
17.0        39
19.0        30
18.0        22
20.0        17
21.0        10
23.0         7
24.0         7
22.0         6
25.0         4
28.0         3
27.0         2
29.0         1
48.0         1
32.0         1
31.0         1
Name: inq_fi, dtype: int64

0.0     535270
1.0     171076
2.0      95932
3.0      61534
4.0      41839
5.0      28834
6.0      20890
7.0      14967
8.0      11058
9.0       7985
10.0      5851
11.0      4416
12.0      3274
13.0      2527
14.0      1905
15.0      1471
16.0      1137
17.0       831
18.0       631
19.0       503
20.0       376
21.0       296
22.0       237
23.0       201
24.0       178
25.0       122
26.0       112
27.0        72
28.0        62
30.0        48
29.0        35
31.0        34
32.0        32
33.0        25
34.0        24
35.0        20
37.0        16
40.0        13
36.0        11
38.0         9
42.0         6
48.0         5
45.0         5
39.0         4
43.0         4
44.0         4
49.0         4
54.0         4
41.0         4
68.0         2
47.0         2
56.0         2
60.0         1
46.0         1
51.0         1
52.0         1
55.0         1
79.0         1
71.0         1
Name: total_cu_tl, dtype: int64

0.0      23443
98.0      4979
97.0      4689
99.0      4611
96.0      4525
         ...
148.1        1
255.2        1
117.6        1
131.2        1
144.6        1
Name: bc_util, Length: 1475, dtype: int64

0.0     1845625
1.0       13384
2.0         987
3.0         168
4.0          64
5.0          20
6.0          12
9.0           6
7.0           6
8.0           2
10.0          1
Name: chargeoff_within_12_mths, dtype: int64

0.0         1853913
25.0            107
65000.0         103
30.0             80
54.0             66
             ...
29199.0           1
1826.0            1
1827.0            1
29280.0           1
130778.0          1
Name: delinq_amnt, Length: 2392, dtype: int64

127.0    20724
128.0    20681
130.0    20637
126.0    20625
125.0    20583
         ...
564.0        1
484.0        1
720.0        1
808.0        1
502.0        1
Name: mo_sin_old_il_acct, Length: 553, dtype: int64

132.0    10273
136.0    10218
131.0    10085
133.0    10049
130.0    10019
         ...
758.0        1
762.0        1
769.0        1
774.0        1
1.0          1
Name: mo_sin_old_rev_tl_op, Length: 776, dtype: int64

2.0      142147
3.0      136090
4.0      123799
1.0      116573
5.0      111008
          ...
267.0         1
268.0         1
269.0         1
330.0         1
323.0         1
Name: mo_sin_rcnt_rev_tl_op, Length: 308, dtype: int64

2.0      199254
3.0      192467
4.0      170100
1.0      152892
5.0      146729
          ...
263.0         1
177.0         1
182.0         1
185.0         1
250.0         1
Name: mo_sin_rcnt_tl, Length: 212, dtype: int64

0.0     747953
1.0     319708
2.0     266554
3.0     191975
4.0     127349
5.0      75161
6.0      41412
7.0      21061
8.0      10418
9.0       5277
10.0      2711
11.0      1428
12.0       747
13.0       424
14.0       285
15.0       164
16.0       108
17.0        76
18.0        58
19.0        34
20.0        31
24.0        17
22.0        16
23.0        16
21.0        15
25.0        10
27.0         8
26.0         6
28.0         5
29.0         4
34.0         3
31.0         3
30.0         2
32.0         2
37.0         2
61.0         1
51.0         1
47.0         1
45.0         1
36.0         1
35.0         1
33.0         1
Name: mort_acc, dtype: int64

3.0      88902
2.0      87181
4.0      84773
5.0      79748
6.0      74391
         ...
610.0        1
604.0        1
597.0        1
594.0        1
510.0        1
Name: mths_since_recent_bc, Length: 517, dtype: int64

1.0     182595
2.0     147560
0.0     144886
3.0     133668
4.0     121106
5.0     107219
6.0      95882
7.0      90900
8.0      79853
9.0      69739
10.0     61275
11.0     54833
12.0     49309
13.0     43980
14.0     38838
15.0     33652
16.0     29592
17.0     26350
18.0     23438
19.0     21067
20.0     18898
21.0     17142
22.0     15525
23.0     14451
24.0      7088
25.0        25
Name: mths_since_recent_inq, dtype: int64

0.0     1373613
1.0      224048
2.0       88529
3.0       40948
4.0       24175
5.0       14420
6.0        9356
7.0        5910
8.0        3768
9.0        2472
10.0       1739
11.0       1016
12.0        804
13.0        483
14.0        437
15.0        246
16.0        206
17.0        128
18.0        108
19.0         67
20.0         60
21.0         52
23.0         40
22.0         39
24.0         30
25.0         18
26.0         15
28.0         13
29.0         10
27.0          9
30.0          8
34.0          7
31.0          7
32.0          5
35.0          5
33.0          4
39.0          2
36.0          2
51.0          1
45.0          1
42.0          1
38.0          1
37.0          1
Name: num_accts_ever_120_pd, dtype: int64

3.0     379156
2.0     366784
4.0     292936
1.0     212740
5.0     195720
6.0     122616
7.0      72906
8.0      43466
0.0      41466
9.0      25888
10.0     15307
11.0      9229
12.0      5553
13.0      3347
14.0      1992
15.0      1307
16.0       778
17.0       579
18.0       351
19.0       235
20.0       123
21.0        94
22.0        68
23.0        39
24.0        39
25.0        23
26.0        21
27.0        10
30.0         7
28.0         6
29.0         5
32.0         5
50.0         2
33.0         2
47.0         1
46.0         1
45.0         1
35.0         1
Name: num_actv_bc_tl, dtype: int64

4.0     274970
3.0     254154
5.0     250096
6.0     204334
2.0     175020
7.0     157068
8.0     115321
9.0      83266
1.0      69469
10.0     58532
11.0     40946
12.0     28958
13.0     20268
14.0     14336
15.0     10336
0.0       9279
16.0      7246
17.0      5375
18.0      3645
19.0      2773
20.0      1946
21.0      1365
22.0      1009
23.0       754
24.0       565
25.0       448
26.0       321
27.0       243
28.0       158
29.0       148
30.0       116
31.0        68
32.0        55
33.0        44
35.0        31
34.0        30
36.0        27
38.0        15
37.0        14
42.0         9
39.0         7
40.0         6
41.0         6
43.0         4
44.0         4
47.0         4
45.0         2
52.0         2
57.0         2
46.0         2
63.0         1
59.0         1
58.0         1
60.0         1
51.0         1
54.0         1
72.0         1
Name: num_actv_rev_tl, dtype: int64

5.0     185505
6.0     181026
4.0     176195
7.0     167135
8.0     149516
         ...
63.0         1
85.0         1
67.0         1
64.0         1
68.0         1
Name: num_bc_tl, Length: 71, dtype: int64

4.0      153436
3.0      152541
5.0      146575
2.0      137378
6.0      135340
          ...
159.0         1
138.0         1
95.0          1
150.0         1
130.0         1
Name: num_il_tl, Length: 120, dtype: int64

6.0     194838
5.0     189722
7.0     184188
8.0     164431
4.0     164205
         ...
61.0         1
83.0         1
75.0         1
76.0         1
77.0         1
Name: num_op_rev_tl, Length: 78, dtype: int64

0.0    1787571
1.0       4964
2.0        233
3.0         29
4.0          7
Name: num_tl_30dpd, dtype: int64

0.0     1693742
1.0       74288
2.0       14477
3.0        4024
4.0        2275
5.0        1203
6.0         872
7.0         523
8.0         409
9.0         280
10.0        193
11.0        146
12.0        105
13.0         69
14.0         63
15.0         43
16.0         20
18.0         17
20.0         15
17.0         12
19.0          9
22.0          5
26.0          3
21.0          2
30.0          2
29.0          1
23.0          1
24.0          1
25.0          1
42.0          1
39.0          1
36.0          1
Name: num_tl_90g_dpd_24m, dtype: int64

1.0     447365
2.0     401101
0.0     315005
3.0     285082
4.0     168552
5.0      84597
6.0      42003
7.0      22716
8.0      11630
9.0       6442
10.0      3461
11.0      1938
12.0      1145
13.0       647
14.0       409
15.0       239
16.0       173
17.0       109
18.0        53
19.0        38
20.0        29
21.0        20
23.0        13
22.0         9
25.0         8
24.0         6
28.0         4
26.0         4
30.0         2
27.0         1
32.0         1
29.0         1
31.0         1
Name: num_tl_op_past_12m, dtype: int64

100.0    895304
90.0      24578
95.0      23817
96.0      20989
90.9      18671
          ...
18.9          1
18.8          1
59.7          1
24.4          1
12.0          1
Name: pct_tl_nvr_dlq, Length: 676, dtype: int64

0.0     1628840
1.0      218344
2.0        9723
3.0        1952
4.0         505
5.0         177
6.0          58
7.0          21
8.0           9
9.0           3
12.0          1
11.0          1
Name: pub_rec_bankruptcies, dtype: int64

0.0     1803727
1.0       38271
2.0       10603
3.0        3891
4.0        1755
5.0         900
6.0         484
7.0         230
8.0         127
9.0          89
10.0         63
11.0         37
12.0         24
13.0         12
15.0         11
14.0         10
17.0          7
21.0          6
18.0          6
16.0          6
22.0          4
27.0          3
20.0          3
46.0          2
24.0          2
61.0          2
45.0          2
19.0          2
28.0          1
34.0          1
37.0          1
39.0          1
44.0          1
23.0          1
52.0          1
53.0          1
63.0          1
48.0          1
85.0          1
29.0          1
30.0          1
Name: tax_liens, dtype: int64

In [13]:
# Alteração de tipo object e int para float
loans = loans.astype({'int_rate': 'float', 'installment': 'float', 'annual_inc': 'float', 'dti': 'float', 'revol_util': 'float', 
                'total_pymnt': 'float', 'total_rec_prncp': 'float', 'total_rec_int': 'float', 'total_rec_late_fee': 'float', 
                'recoveries': 'float', 'collection_recovery_fee': 'float', 'bc_util': 'float', 
                'pct_tl_nvr_dlq': 'float'})

In [14]:
# Alteração de tipo object, float e int para Int64 
loans['loan_amnt'] = loans['loan_amnt'].astype('float').astype('Int64')
loans['loan_status'] = loans['loan_status'].astype('float').astype('Int64')
loans['delinq_2yrs'] = loans['delinq_2yrs'].astype('float').astype('Int64')
loans['inq_last_6mths'] = loans['inq_last_6mths'].astype('float').astype('Int64')
loans['revol_bal'] = loans['revol_bal'].astype('float').astype('Int64')
loans['total_acc'] = loans['total_acc'].astype('float').astype('Int64')
loans['pub_rec'] = loans['pub_rec'].astype('float').astype('Int64')
loans['acc_now_delinq'] = loans['acc_now_delinq'].astype('float').astype('Int64')
loans['tot_coll_amt'] = loans['tot_coll_amt'].astype('float').astype('Int64')
loans['tot_cur_bal'] = loans['tot_cur_bal'].astype('float').astype('Int64')
loans['open_acc_6m'] = loans['open_acc_6m'].astype('float').astype('Int64')
loans['open_act_il'] = loans['open_act_il'].astype('float').astype('Int64')
loans['open_il_12m'] = loans['open_il_12m'].astype('float').astype('Int64')
loans['open_il_24m'] = loans['open_il_24m'].astype('float').astype('Int64')
loans['mths_since_rcnt_il'] = loans['mths_since_rcnt_il'].astype('float').astype('Int64')
loans['il_util'] = loans['il_util'].astype('float').astype('Int64')
loans['inq_fi'] = loans['inq_fi'].astype('float').astype('Int64')
loans['total_cu_tl'] = loans['total_cu_tl'].astype('float').astype('Int64')
loans['chargeoff_within_12_mths'] = loans['chargeoff_within_12_mths'].astype('float').astype('Int64')
loans['delinq_amnt'] = loans['delinq_amnt'].astype('float').astype('Int64')
loans['mo_sin_old_il_acct'] = loans['mo_sin_old_il_acct'].astype('float').astype('Int64')
loans['mo_sin_old_rev_tl_op'] = loans['mo_sin_old_rev_tl_op'].astype('float').astype('Int64')
loans['mo_sin_rcnt_rev_tl_op'] = loans['mo_sin_rcnt_rev_tl_op'].astype('float').astype('Int64')
loans['mo_sin_rcnt_tl'] = loans['mo_sin_rcnt_tl'].astype('float').astype('Int64')
loans['mths_since_recent_bc'] = loans['mths_since_recent_bc'].astype('float').astype('Int64')
loans['mths_since_recent_inq'] = loans['mths_since_recent_inq'].astype('float').astype('Int64')
loans['num_accts_ever_120_pd'] = loans['num_accts_ever_120_pd'].astype('float').astype('Int64')
loans['num_actv_bc_tl'] = loans['num_actv_bc_tl'].astype('float').astype('Int64')
loans['num_actv_rev_tl'] = loans['num_actv_rev_tl'].astype('float').astype('Int64')
loans['num_bc_tl'] = loans['num_bc_tl'].astype('float').astype('Int64')
loans['num_il_tl'] = loans['num_il_tl'].astype('float').astype('Int64')
loans['num_op_rev_tl'] = loans['num_op_rev_tl'].astype('float').astype('Int64')
loans['num_tl_30dpd'] = loans['num_tl_30dpd'].astype('float').astype('Int64')
loans['num_tl_90g_dpd_24m'] = loans['num_tl_90g_dpd_24m'].astype('float').astype('Int64')
loans['num_tl_op_past_12m'] = loans['num_tl_op_past_12m'].astype('float').astype('Int64')
loans['pub_rec_bankruptcies'] = loans['pub_rec_bankruptcies'].astype('float').astype('Int64')
loans['tax_liens'] = loans['tax_liens'].astype('float').astype('Int64')

In [15]:
# Alteração de tipo object, float e int para Int64
loans['initial_list_status'] = loans['initial_list_status'].astype('Int64')
loans['debt_settlement_flag'] = loans['debt_settlement_flag'].astype('Int64')

In [16]:
# Verificando os tipos de dados.
print("Tipos de dados e sua frequência\n{}".format(loans.dtypes.value_counts()))

Tipos de dados e sua frequência
Int64      39
float64    17
object     12
dtype: int64

In [17]:
# Mostra as colunas que são do tipo object.
object_columns_df = loans.select_dtypes(include=['object'])
print(object_columns_df.iloc[0])

term                     36 months
grade                            B
emp_title                      NaN
emp_length               10+ years
home_ownership                RENT
verification_status       Verified
issue_d                   Dec-2011
pymnt_plan                       n
purpose                credit_card
addr_state                      AZ
earliest_cr_line          Jan-1985
application_type        Individual
Name: 0, dtype: object

In [18]:
cols = ['term', 'grade', 'emp_length', 'home_ownership', 'verification_status', 'addr_state', 'application_type']
for name in cols:
    print(name,':')
    print(object_columns_df[name].value_counts(),'\n')

term :
 36 months    1393299
 60 months     467032
Name: term, dtype: int64

grade :
B    546603
C    528107
A    346317
D    275001
E    116500
F     37108
G     10695
Name: grade, dtype: int64

emp_length :
10+ years    611330
2 years      168516
< 1 year     153700
3 years      149271
1 year       122924
5 years      115872
4 years      112211
6 years       85354
8 years       78646
7 years       78141
9 years       67170
Name: emp_length, dtype: int64

home_ownership :
MORTGAGE    918028
RENT        735358
OWN         205578
ANY           1174
OTHER          144
NONE            49
Name: home_ownership, dtype: int64

verification_status :
Source Verified    734068
Not Verified       588361
Verified           537902
Name: verification_status, dtype: int64

addr_state :
CA    264463
TX    152955
NY    150880
FL    133607
IL     72608
NJ     66965
PA     62757
OH     61139
GA     60576
NC     52050
VA     51916
MI     48649
AZ     45508
MD     43578
MA     42709
CO     40492
WA     39937
MN     32964
IN     30724
MO     29718
TN     29088
CT     28158
NV     27859
WI     24828
AL     22798
OR     22551
SC     22478
LA     21067
KY     17913
OK     16959
KS     15485
AR     14082
UT     13462
NM     10028
MS      9928
NH      9048
HI      9046
RI      8191
WV      6551
NE      6005
DE      5261
MT      5255
DC      4549
AK      4342
WY      3984
VT      3875
SD      3773
ME      3581
ID      3313
ND      2671
IA         7
Name: addr_state, dtype: int64

application_type :
Individual    1790838
Joint App       69493
Name: application_type, dtype: int64

In [19]:
# Alterando formato em que é mostrado as colunas como string para Int64.
loans['term'] = loans['term'].replace('months', '', regex=True).replace(' 36', '0', regex=True).replace(' 60', '1', regex=True)
loans['term'] = loans['term'].astype(str).astype(int).astype('Int64')

In [20]:
# Gero um dicionário para substituir os campos emp_length, grade.
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
        },
    "grade":{
        "A": 1,
        "B": 2,
        "C": 3,
        "D": 4,
        "E": 5,
        "F": 6,
        "G": 7
        }
}
loans = loans.replace(mapping_dict)

### 3.3.2 - Balizamento (Salvando dados em bases separadas)

Nesta etapa será realizado separação na base de dados (balizamento), para tornar o dataset (base de dados) mais organizada. Sendo aplicados em colunas que contenham variáveis em que podem ser representadas por códigos, tendo assim um arquivo com extensão `.csv` na qual servirá como dicionário de dados para as colunas que contenham códigos.

In [34]:
# Criando novo DataFrame com valores de iniciais de loan_amnt, home_ownership, addr_state e purpose.
loans_cop = pd.DataFrame(data=loans, columns=['loan_amnt', 'home_ownership', 'addr_state', 'purpose'])
loans_cop.head(2)

   loan_amnt home_ownership addr_state      purpose
0       5000           RENT         AZ  credit_card
1       2500           RENT         GA          car

In [35]:
# Criando nova coluna com valores de iniciais de home_ownership, addr_state e purpose.
loans['HomeOwnership_names'] = loans['home_ownership']
loans['addrState_names'] = loans['addr_state']
loans['purpose_names'] = loans['purpose']
loans.head(2)

,loan_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,il_util,inq_fi,total_cu_tl,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_tl,num_il_tl,num_op_rev_tl,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag,purpose_names,HomeOwnership_names,addrState_names
0,5000,0,0.1065,162.87,2,NaN,10.0,RENT,24000.0,Verified,Dec-2011,1,n,credit_card,AZ,27.65,0,Jan-1985,1,0,13648,0.837,9,1,0.0,5863.155187,5000.00,863.16,0.0,0.0,0.00,1.0,Individual,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,0.0,0,credit_card,RENT,AZ
1,2500,1,0.1527,59.83,3,Ryder,0.0,RENT,30000.0,Source Verified,Dec-2011,0,n,car,GA,1.00,0,Apr-1999,5,0,1687,0.094,4,1,0.0,1014.530000,456.46,435.17,0.0,122.9,1.11,1.0,Individual,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,0.0,0,car,RENT,GA

In [36]:
# Gero um dicionário para substituir os campos de home_ownership, addr_state e purpose.
mapping_dict1 = {
    "home_ownership": {
        "RENT": 1,
        "OWN": 2,
        "MORTGAGE": 3, 
        "OTHER": 4, 
        "NONE": 5, 
        "ANY": 6
    },
    "addr_state": {
        "AZ": 1, "GA": 2, "IL": 3, "CA": 4, "OR": 5, "NC": 6, "TX": 7, "VA": 8, "MO": 9, "CT": 10, 
        "UT": 11, "FL": 12, "NY": 13, "PA": 14, "MN": 15, "NJ": 16, "KY": 17, "OH": 18, "SC": 19, 
        "RI": 20, "LA": 21, "MA": 22, "WA": 23, "WI": 24, "AL": 25, "CO": 26, "KS": 27, "NV": 28, 
        "AK": 29, "MD": 30, "WV": 31, "VT": 32, "MI": 33, "DC": 34, "SD": 35, "NH": 36, "AR": 37, 
        "NM": 38, "MT": 39, "HI": 40, "WY": 41, "OK": 42, "DE": 43, "MS": 44, "TN": 45, "IA": 46, 
        "NE": 47, "ID": 48, "IN": 49, "ME": 50, "ND": 51
    },
    "purpose": {
        "credit_card": 1, "car": 2, 
        "small_business": 3, "other": 4, 
        "wedding": 5, "debt_consolidation": 6, 
        "home_improvement": 7, "major_purchase": 8, 
        "medical": 9, "moving": 10, "vacation": 11, 
        "house": 12, "renewable_energy": 13, 
        "educational": 14
    }
}
loans = loans.replace(mapping_dict1)

In [37]:
# Verificando se foi realizada a alteração corretamente.
loans.head(2)

,loan_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,il_util,inq_fi,total_cu_tl,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_tl,num_il_tl,num_op_rev_tl,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag,purpose_names,HomeOwnership_names,addrState_names
0,5000,0,0.1065,162.87,2,NaN,10.0,1,24000.0,Verified,Dec-2011,1,n,1,1,27.65,0,Jan-1985,1,0,13648,0.837,9,1,0.0,5863.155187,5000.00,863.16,0.0,0.0,0.00,1.0,Individual,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,0.0,0,credit_card,RENT,AZ
1,2500,1,0.1527,59.83,3,Ryder,0.0,1,30000.0,Source Verified,Dec-2011,0,n,2,2,1.00,0,Apr-1999,5,0,1687,0.094,4,1,0.0,1014.530000,456.46,435.17,0.0,122.9,1.11,1.0,Individual,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,0.0,0,car,RENT,GA

In [ ]:
#  Separando coluna home_ownership e criando dicionário desta.
homeOwnership = loans[['HomeOwnership_names', 'home_ownership']]
homeOwnership = homeOwnership.groupby(by=['HomeOwnership_names', 'home_ownership']).count().reset_index()
homeOwnership = homeOwnership.rename(columns={'HomeOwnership_names': 'grupo', 'home_ownership': 'codigo'})

# Salvando em arquivo .csv
homeOwnership.to_csv('home_ownership.csv', index=False)

In [ ]:
#  Separando coluna addr_state e criando dicionário desta.
addrState = loans[['addrState_names', 'addr_state']]
addrState = addrState.groupby(by=['addrState_names', 'addr_state']).count().reset_index()
addrState = addrState.rename(columns={'addrState_names': 'grupo', 'addr_state': 'codigo'})

# Salvando em arquivo .csv
addrState.to_csv('addr_state.csv', index=False)

In [45]:
#  Separando coluna purpose e criando dicionário desta.
purpose_grupo = loans[['purpose_names', 'purpose']]
purpose_grupo = purpose_grupo.groupby(by=['purpose_names', 'purpose']).count().reset_index()
purpose_grupo = purpose_grupo.rename(columns={'purpose_names': 'grupo', 'purpose': 'codigo'})

# Salvando em arquivo .csv
purpose_grupo.to_csv('purpose.csv', index=False)

In [48]:
# Criando lista das colunas alterada a serem excluídas.
drop_lista = ['purpose_names', 'HomeOwnership_names', 'addrState_names']

# Excluindo colunas selecionadas e incluidas na lista a serem dropadas.
loans = loans.drop(drop_lista, axis=1)

# Verificando se foram excluídas corretamente.
loans.head(2)

,loan_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,il_util,inq_fi,total_cu_tl,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_tl,num_il_tl,num_op_rev_tl,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag
0,5000,0,0.1065,162.87,2,NaN,10.0,1,24000.0,Verified,Dec-2011,1,n,1,1,27.65,0,Jan-1985,1,0,13648,0.837,9,1,0.0,5863.155187,5000.00,863.16,0.0,0.0,0.00,1.0,Individual,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,0.0,0
1,2500,1,0.1527,59.83,3,Ryder,0.0,1,30000.0,Source Verified,Dec-2011,0,n,2,2,1.00,0,Apr-1999,5,0,1687,0.094,4,1,0.0,1014.530000,456.46,435.17,0.0,122.9,1.11,1.0,Individual,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,0,0,0.0,0

In [49]:
# Detecta colunas preenchidas com um único valor
loans = loans.loc[:,loans.apply(pd.Series.nunique) != 1]

### 3.3.3 - Gerando dummies

In [50]:
# Gero dummies automaticamente
nominal_columns = ["verification_status", "application_type"]
dummy_df = pd.get_dummies(loans[nominal_columns])
loans = pd.concat([loans, dummy_df], axis=1)
loans = loans.drop(nominal_columns, axis=1)

In [52]:
# Verificando os tipos de dados.
print("Tipos de dados e sua frequência\n{}".format(loans.dtypes.value_counts()))

Tipos de dados e sua frequência
Int64      40
float64    16
uint8       5
int64       4
object      3
dtype: int64

In [53]:
# Mostra as colunas que são do tipo object.
object_columns_df = loans.select_dtypes(include=['object'])
print(object_columns_df.iloc[0])

emp_title                NaN
issue_d             Dec-2011
earliest_cr_line    Jan-1985
Name: 0, dtype: object

In [59]:
# Alterando formato em que é mostrado nas colunas como mês nome para mês numérico.
loans['issue_d'] = loans['issue_d'].replace('Jan', '01', regex=True).replace('Feb', '02', regex=True).replace('Mar', '03', regex=True).replace('Apr', '04', regex=True).replace('May', '05', regex=True).replace('Jun', '06', regex=True).replace('Jul', '07', regex=True).replace('Aug', '08', regex=True).replace('Sep', '09', regex=True).replace('Oct', '10', regex=True).replace('Nov', '11', regex=True).replace('Dec', '12', regex=True)

loans['earliest_cr_line'] = loans['earliest_cr_line'].replace('Jan', '01', regex=True).replace('Feb', '02', regex=True).replace('Mar', '03', regex=True).replace('Apr', '04', regex=True).replace('May', '05', regex=True).replace('Jun', '06', regex=True).replace('Jul', '07', regex=True).replace('Aug', '08', regex=True).replace('Sep', '09', regex=True).replace('Oct', '10', regex=True).replace('Nov', '11', regex=True).replace('Dec', '12', regex=True)

In [65]:
# Convertendo para datetime.
loans['issue_d'] = pd.to_datetime(loans['issue_d'], format='%m-%Y')
loans['earliest_cr_line'] = pd.to_datetime(loans['earliest_cr_line'], format='%m-%Y')

In [70]:
# Mostra as colunas que são do tipo object.
object_columns_df = loans.select_dtypes(include=['object'])
print(object_columns_df.iloc[0])

emp_title    NaN
Name: 0, dtype: object

In [73]:
# Verificando se restaram colunas com dados faltantes ou nulos, mostrando por slice.
loans.isna().sum(axis=0)[:20]

loan_amnt                0
term                     0
int_rate                 0
installment              0
grade                    0
emp_title           131454
emp_length          117196
home_ownership           0
annual_inc               0
issue_d                  0
loan_status              0
purpose                  0
addr_state               0
dti                   1108
delinq_2yrs              0
earliest_cr_line         0
inq_last_6mths           1
pub_rec                  0
revol_bal                0
revol_util            1398
dtype: int64

In [ ]:
# Alterando valores nulos ou faltantes para 0
loans['percent_bc_gt_75'] = loans['percent_bc_gt_75'].fillna(0.0)
loans['pub_rec_bankruptcies'] = loans['pub_rec_bankruptcies'].fillna(0)
loans['tax_liens'] = loans['tax_liens'].fillna(0)
loans['hardship_flag'] = loans['hardship_flag'].fillna(0)
loans['annual_inc'] = loans['annual_inc'].fillna(0)

In [ ]:
# Alteração de tipo object, float e int para Int64 
loans['percent_bc_gt_75'] = loans['percent_bc_gt_75'].astype('float')
loans['pub_rec_bankruptcies'] = loans['pub_rec_bankruptcies'].astype('float').astype(int).astype('Int64')
loans['tax_liens'] = loans['tax_liens'].astype('float').astype(int).astype('Int64')
loans['hardship_flag'] = loans['hardship_flag'].astype('float').astype(int).astype('Int64')
loans['annual_inc'] = loans['annual_inc'].astype('float').astype(int).astype('Int64')

OBS: Não sei se está é a melhor opção para tirar os dados nulos ou faltantes restantes. Portanto no momento irá permanecer como está, até uma verificação mais precisa de como proceder.

# 4 - O resultado da limpeza deve ser salvo no formato .pikle.

In [74]:
# Salvando em arquivo .pkl
loans.to_pickle('dados_lc_limpos.pkl')